.avatar {
  background-color: #ffd756;
}

.avatar-color {
  background-color: #ffd756;
}

.avatar-image {
  background-image: url(/images/avatar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.embed-frankie {
  padding-top: 100%;
}

@media only screen and (min-width: 38em) {

  .embed-frankie {
    padding-top: 0;
  }

  .my-padding {
    padding-bottom: 5%;
  }

}

@media only screen and (min-width: 45em) {

  .my-padding {
    padding-bottom: 5%;
  }

}

@media only screen and (min-width: 60em) {

  .my-padding {
    padding-bottom: 0%;
  }

}
