<header class="banner" role="banner">
  <div class="top-nav">
    <div class="grid grid-middle pad-t pad-b gutter">
      <div class="unit xs-1 s-1 m-1-3">
        <div class="grid">
          <div class="unit xs-1 text-center pad-b">
            <a class="gutter-1-8" href="#">
              <i class="icon i-32">
                <svg class="social-icon"><use xlink:href="/images/svg/icons.svg#pinterest" /></svg>
              </i>
            </a>
            <a class="gutter-1-8" href="#">
              <i class="icon i-32">
                <svg class="social-icon"><use xlink:href="/images/svg/icons.svg#behance" /></svg>
              </i>
            </a>
            <a class="gutter-1-8" href="#">
              <i class="icon i-32">
                <svg class="social-icon"><use xlink:href="/images/svg/icons.svg#dribbble" /></svg>
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="unit xs-1 s-1 m-1-3 text-center pad-b logo">
        <a href="/" aria-label="navigate to home"><img class="logo-size img-flex" src="/images/logo-white.svg" alt=""></a>
        <!--
        <h2 class="tena push-0">{{include.designer-name}}</h2>
        <p class="header-txt push-0">{{include.text}}</p>
        -->
      </div>
      <div class="unit xs-1 s-1 m-1-3">
        <nav class="navigation" id="navigation">
          <ul class="nav list-group text-center push-0">
            <li class="micro gutter-1-4 {% if page.highlight_nav == 'faq/help' %}current{% endif %}"><a class="a-txt link-box" href="/projects">Case Studies</a></li>
            <li class="micro gutter-1-4 {% if page.highlight_nav == 'blog' %}current{% endif %}"><a class="a-txt link-box" href="#process">Process</a></li>
            <li class="zetta gutter-1-4 {% if page.highlight_nav == 'home' %}current{% endif %}"><a class="a-txt link-box" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
