.banner {
  background: url("/images/notebook-1.jpg") no-repeat center / cover;
}

a {
  font-style:normal;
}
a:hover {
  color:#000;
  font-style:normal;
  font-weight:bold;
  text-decoration:underline;
}

@media only screen and (min-width: 38em) {

  .banner .nav li {
    display: inline-block;
  }

  .nav {
    text-align: right;
  }

  .logo {
    text-align: left;
  }

}
