<header class="banner" role="banner">
  <img class="img-flex" src="/images/dark-wood.jpg" alt="">
  <div class="text-center banner-content pin-bc island-2 banner-content w-1">
    <h2 class="tena push-0">{{include.designer-name}}</h2>
    <p>{{include.text}}</p>
  </div>
  <nav class="navigation" id="navigation" >
    <ul class="grid list-group text-center">
      <li class="unit xs-1 s-1 m-1-5 l-1-5 micro {% if page.highlight_nav == 'faq/help' %}current{% endif %}"><a class="link-box" href="#">Projects</a></li>
      <li class="unit xs-1 s-1 m-1-5 l-1-5 micro {% if page.highlight_nav == 'blog' %}current{% endif %}"><a class="link-box" href="#">Process</a></li>
      <li class="unit xs-1 s-1 m-1-5 l-1-5 zetta {% if page.highlight_nav == 'home' %}current{% endif %}"><a class="link-box" href="/index/">Contact</a></li>
    </ul>
  </nav>
</header>
