.banner {
  background: url("/images/notebook-1.jpg") no-repeat center / cover;
  height: 100vh;
}

a {
  font-style:normal;
}
a:hover {
  color:#000;
  font-style:normal;
  font-weight:bold;
  text-decoration:underline;
}

.top-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 100;
}

.header-txt, .a-txt {
  color: #fff !important;
}

.logo-size {
  max-width: 100px;
  margin: 0 auto;
}

.logo-size:hover{
  transform: scale(1.2);
  transition: all 250ms linear;
}

.copyright p {
  color: #000;
}

@media only screen and (min-width: 38em) {

  .banner .nav li {
    display: inline-block;
  }

  .nav {
    text-align: right;
  }

}
